*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
/* container */
.container{
    display: flex;
    height: 500px;
    width: 800px;
    border: 1px solid white;
    margin: auto;
    margin-top: 50px;
    box-shadow: 15px 15px 20px white;
}
/* login form */
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: whitesmoke;
}
.form h2{
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
}
.box{
    padding: 10px;
    width: 65%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}
/* right side */
.side{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: white;
}
.side img{
    width: 450px;
    height: 450px;
}